
body{
    background-color: #F5F5F5;
}

/* shared style */
h3 {
    font-size:15px ;
    color: #0E0E0E;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
}

.nav-btn{
    color: #006a50;
    font-size: 12px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    padding: 5px 20px;
    border-radius: 8px;
    border: 2px solid #006a50;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


h6{
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 0px;
}

.hero-big-title{
font-size: 35px;
font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
  color: #0E0E0E;
  margin-bottom: 20px;
}

.btn-primary{
    color: white;
    font-size: 12px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    background-color: #006A50;
    border-radius: 8px;
    padding: 15px 30px;
}

.banner-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    padding: 30px;
    margin-top: 20px;
    border-radius: 24px;
}

.section-title{
    font-size: 22px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    color: #0E0E0E;
    margin-top: 60px;
}

.pillar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.pillar-child {
    background-color: white;
    padding: 15px;
    border-radius: 16px;
}

.card-title{
    font-size: 14px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 8px;
}

.section-text{

    color: rgba(14, 14, 14, 0.7);
    font-size: 8px;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 12px;
}


.vision-card-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.vision-card-1{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 15px;
    border-radius: 16px;
}

.btn-vision-1{
    color: white;
    font-size: 8px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    background-color: #5490F5;
    border-radius: 8px;
    padding: 5px 10px;
}


.vision-card-2{
    background-color: rgba(198, 228, 214, 1);
    padding: 15px;
    border-radius: 16px;
}

.btn-vision-2{
    color: white;
    font-size: 8px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    background-color: #09A15C;
    border-radius: 8px;
    padding: 5px 10px;
}

.vision-card-3{
    background-color: rgba(247, 235, 207, 1);
    padding: 15px;
    border-radius: 16px;
}



.btn-vision-3{
    color: white;
    font-size: 8px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    background-color: #FFC239;
    border-radius: 8px;
    padding: 5px 10px;
}


.blockquote-title{
    font-size: 12px;
    font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.blockquote-area{
    background-color: white;
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 10px 15px;
    background-size: 30px 30px;
    padding: 20px 10px;
    border-radius: 16px;
    margin-top: 32px;

}
